@import 'mixins/var';

.navbar {
  display: flex;
  justify-content: end;
  padding: 1rem 2rem;
  background-color: $primary-color;
  margin-bottom: 2rem;

  &-container {
    .collapse {
      .navbar-nav{
        display: flex;
        gap: 1rem;
        .nav-item {
          a {
            color: #fff;
            font-weight: 700;
          }
        }
      }
    }
  }
}
